body { 
  margin: 0px;
  padding: 0px;
  font-family:  "Atlas Grotesk Web","Helvetica",sans-serif;
  padding-bottom: 40px;
  background-color: #ffffff;
}

p, form {
  padding-left: 10px;
}

p {
  padding-left: 10px;
}

fieldset {
  width: 600px;
}

.material-icons {
  padding-top: 10px;
  font-size: 1.5rem;
}

.status {
  padding-left: 10px;
}

.header {
  font-family:  "Atlas Grotesk Web","Helvetica",sans-serif;
  font-weight: 900;
  font-size: 2rem;
  padding-top: 15px;
  padding-left: 15px;
}

.footer {
  font-family:  "Atlas Grotesk Web","Helvetica",sans-serif;
  font-size: 0.75rem;
  padding-top: 10px;
}

#sinchbox {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  width: 100%;
  height: 15%;
  background-color: #323e47!important;
}

#input-field {
  width 450px;
  border-style: dotted;
  border-width: 1px;
}

#input-box {
  width 550px;
  border-style: dashed;
  border-width: 1px;
}
